/*
 * syntax.scss
 */
/* line 12, ../_scss/syntax.scss */
div.highlight {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  box-shadow: 5px 5px 3px #888888;
  font-size: 12px;
  font-family: courier;
}

/* line 26, ../_scss/syntax.scss */
.highlight {
  margin: 0;
  border: 0;
  padding: 0;
}
/* line 32, ../_scss/syntax.scss */
.highlight pre {
  color: #929292;
  background: black;
  padding: 10px;
}
/* line 39, ../_scss/syntax.scss */
.highlight .lineno {
  color: #606060;
  background: #323232;
  margin-left: 0.5em;
  padding-left: 3px;
  padding-right: 3px;
  display: inline-block;
  text-align: right;
  min-width: 21px;
}

/* line 52, ../_scss/syntax.scss */
.highlight .c, .highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  color: #565656;
  font-weight: bold;
}
/* line 56, ../_scss/syntax.scss */
.highlight .kc, .highlight .no, .highlight .nc {
  color: #B18733;
  font-weight: bold;
}
/* line 60, ../_scss/syntax.scss */
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #DEF979;
  font-weight: bold;
}
/* line 63, ../_scss/syntax.scss */
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #B18733;
  font-weight: bold;
}
/* line 66, ../_scss/syntax.scss */
.highlight .nv, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #73B874;
}
/* line 69, ../_scss/syntax.scss */
.highlight .nf {
  color: #75F877;
}
/* line 72, ../_scss/syntax.scss */
.highlight .k, .highlight .kc, .highlight .kd, .highlight .kp, .highlight .kr {
  color: #74D822;
}
/* line 75, ../_scss/syntax.scss */
.highlight .kt {
  color: #BC961B;
}
