---
layout: site
---

<div class="container">

  <div class="row">
    <div class="span2">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Introduction</li>
          <!--li class="active"><a href="#">Link</a></li-->
          <li><a href="/api/">intro</a></li>
          <li><a href="/api/#json_over_http">JSON over HTTP</a></li>
          <li><a href="/api/#half">half</a></li>
          <li class="nav-header">Authentication</li>
          <li><a href="/api/auth.html">auth</a></li>
          <li class="nav-header">HTTP and JSON</li>
          <li><a href="/api/hyperjson.html">http</a></li>
          <li><a href="/api/hyperjson.html#json">json</a></li>
          <li class="nav-header">Rels</li>
          <li><a href="/api/rels.html">rels</a></li>
        </ul>
      </div>
    </div>

    <div class="span10">
{{ content }}
    </div>

  </div>

  <hr>

  <footer>
    <p>&copy; BurningBox.com 2013-2013</p>
  </footer>

</div>

<script language="javascript">

  var toggleSidebar = function(ev) {

    var href = window.location.pathname + window.location.hash;
    if (ev) href = $(ev.target).attr('href');

    $('.nav-list > li > a').each(function(i, e) {
      var $e = $(e);
      $e.closest('li').toggleClass('active',($e.attr('href') === href));
    });

    return true;
  }

  $('a').on('click', toggleSidebar);

  toggleSidebar();

</script>

