---
layout: site
---

<div class="container">

  <div class="row">
    <div class="span3">
      <div class="well sidebar-nav">

        <ul class="nav nav-list">

          <li class="nav-header">intro</li>
          <li><a href="/api/">introduction</a></li>
          <li><a href="/api/#signing">signing</a></li>
          <li><a href="/api/#hypermedia">hypermedia</a></li>

          <li class="nav-header">auth</li>
          <li><a href="/api/auth.html">authentication</a></li>
          <li><a href="/api/auth.html#secret">obtaining a secret key</a></li>
          <li><a href="/api/auth.html#signing">request signing</a></li>

          <li class="nav-header">flow</li>
          <li><a href="/api/flow.html">flow</a></li>
          <li><a href="/api/flow.html#half">half</a></li>
          <li><a href="/api/flow.html#follow">follow</a></li>
          <li><a href="/api/flow.html#status">status codes</a></li>

          <li class="nav-header">rels</li>
          <li><a href="/api/rels.html">link rels</a></li>

          <li class="nav-header">sample clients</li>
          <li><a href="https://github.com/mycourtpro/mycourtpro.github.io/tree/master/_code/ruby">ruby</a></li>
          <li><a href="https://github.com/mycourtpro/mycourtpro.github.io/tree/master/_code/vb">vb</a></li>
        </ul>
      </div>
    </div>

    <div class="span8">
{{ content }}
    </div>

  </div>

</div>

<script language="javascript">

  var toggleSidebar = function(ev) {

    var href = window.location.pathname + window.location.hash;
    if (ev) href = $(ev.target).attr('href');

    $('.nav-list > li > a').each(function(i, e) {
      var $e = $(e);
      $e.closest('li').toggleClass('active',($e.attr('href') === href));
    });

    return true;
  }

  $('a').on('click', toggleSidebar);

  toggleSidebar();

</script>

