<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>

    <title>{{ page.title }}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/syntax.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
  </head>

<body>

{{ content }}

<div class="cr">
  &copy; 2013-2013 BurningBox.com
</div>

</body>
</html>

